/*cores*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #051937;
    font-family: 'Adomania', sans-serif;

}

.nav-link {
    color: white; 
    font-family: "Adomania", sans-serif;
}

.nav-link:hover {
    color: white; 
}

main{
    background-color:#051937 ;
}
main>h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: bold;
}

/* General Main container */
/* Main container */
/* Main container */
.Main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #051937;
    padding: 20px;
}

/* Content flexbox */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Left section: Text content */
.Mainn {
    max-width: 50%;
}

.tagline {
    background: linear-gradient(90deg, #E41C19 21%, #841A18 79.5%);
    border-radius: 40px;
    padding: 10px 20px;
    top: calc(50% - 395px/2 - 396.5px);
    width: 395px;
    height: 41px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

.t_title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.t_subtitle {
    font-family:'Adomania',sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0 30px;
    color: white;
    
    }

.buttons {
    display: flex;
    gap: 20px;
}

.btn-gradiente {
    background: linear-gradient(90deg, #E41C19 21%, #841A18 79.5%);
    border-radius: 39px;
    padding: 10px 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid #FFFDFD;
    border-radius: 39px;
    padding: 10px 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

/* Right section: Image */
.image-container {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computador-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Seção Sobre Mim */
.about-me-section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    max-width: 1200px;
    width: 100%;
}

.profile-img {
    border-radius: 15px;
    max-width: 45%;
    height: auto;
}

.about-me-text {
    max-width: 55%;
    font-family: 'Adomania', sans-serif;
    color: white;
}

.about-title {

    font-size: 42px;
    margin-bottom: 20px;
    color: white;
    font-family: 'inter', sans-serif;
    font-style: bold;
    text-align: center;
}

.about-me-text p {
    font-size: 18px;
    line-height: 1.6;
    justify-content: center;
}




/* Seção de Habilidades */

input {
    display: none; 
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.card {
    width: 80px; 
    height: 573px; 
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    transition: width 0.6s cubic-bezier(.28, -0.03, 0, .99), filter 0.3s ease; 
    margin: 0 10px;
    filter: grayscale(100%); 
}

@media (max-width: 1024px) {
    .card {
        width: 100px; 
        height: 400px; 
    }
}

@media (max-width: 768px) {
    .card {
        width: 60px; 
        height: 300px; 
    }
}

@media (max-width: 480px) {
    .card {
        width: 50px; 
        height: 250px; 
    }
}


.card:not(:hover) {
    width: 80px; 
    filter: grayscale(100%); 
}


.card:hover {
    width: 455.26px; 
    filter: grayscale(0%); 
}


input:checked + label {
    width: 455.26px; 
}

.card > .row {
    color: #051937 ;
    display: flex;
    flex-wrap: nowrap;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.card[for="c1"] {
    background-image: url('/Img/TecnologiasFront-End/Frontend.png');
    background-size: cover;
    background-position: center;
    background-color: #051937 ;
}
.card[for="c2"] {
    background-image: url('/Img/Tecnologia-Back-End/Backend.png');
    background-size: cover;
    background-position: center;
    background-color: #051937 ;
}
.card[for="c3"] {
    background-image: url('/Img/VersionamentodeCódigos/Versionamento.png');
    background-size: cover;
    background-position: center;
    background-color: #051937 ;
}
.card[for="c4"] {
    background-image: url('/Img/OutrasHabilidades/OutrasHab.png');
    background-size: cover;
    background-position: center;
    background-color: #051937 ;
}
.card[for="c5"] {
    background-image: url('/Img/LinguagensdeProgramação/LinguagemProgramação.png');
    background-size: cover;
    background-position: center;
    background-color: #051937 ;
}



.formacao-container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #051937; /* Cor de fundo escura */
    color: white; /* Cor do texto */
    margin: 20px;
}

.text-section {
    max-width: 60%;
}

.text-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: bold;
}

.text-section p {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Adomania", sans-serif;
    justify-content: center;
}

.image-section {
    position: relative;
    max-width: 30%;
}

.image-section img {
    width: 100%;
    padding: 20px;
}

.image-section::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border: 3px solid white;
    border-radius: 50%;
    z-index: -1; /* Círculo atrás da imagem */
}


.experiencia-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #051937; /* Cor de fundo escura */
    color: white; /* Cor do texto */
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
}

.text-section {
    max-width: 60%;
    padding-left: 20px;
}

.text-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: bold;
}

.text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: "Adomania", sans-serif;

}

.image-section {
    position: relative;
    max-width: 35%;
}

.image-section img {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.image-section::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border: 3px solid white;
    border-radius: 20px;
    z-index: -1; /* Borda arredondada atrás da imagem */
}



.projetos-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #051937;
    color: white;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.text-section {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
}

.repositorios-section {
    flex: 1;
}

/* Estilo dos cards */
.repo-card {
    background: linear-gradient(90deg, #E41C19 21%, #841A18 79.5%);
    border-radius: 20px; /* Borda arredondada */
    padding: 20px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}


.repo-card:hover h3 {
    color: white; /* Garante que o texto continue branco no hover */
}
/* Estilo do título do card */
.repo-card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: white; /* Mantém o texto branco */
    transition: color 0.3s; /* Transição suave */
}

/* Estilo das informações dos repositórios */
.repo-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}

/* Efeito de destaque nas informações */
.repo-details span {
    font-weight: bold;
    color: #e0e0e0;
}


footer {
    background-color: #051937; /* Cor de fundo escura */
    padding: 40px 0; /* Espaçamento no topo e embaixo */
}

footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Linha fina no topo do rodapé */
}

footer .left, footer .right {
    flex: 1;
    padding: 20px;
}

footer h1{
    margin-bottom: 10px;
    font-size: 24px; /* Tamanhos de texto */
    color: white;
    font-family: Inter, sans-serif;
    font-style: bold;
}

footer p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: white; /* Texto mais claro */
    font-family: adomania, sans-serif;
}

footer .social-icons {
    display: flex;
    gap: 20px;
}

footer .icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Ícones circulares */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo leve para os ícones */
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer .icon:hover img {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3); /* Efeito de hover para mudar a cor */
}

footer .email:hover img {
    background-color: #e74c3c; /* Cor do email no hover */
}

footer .linkedin:hover img {
    background-color: #0077b5; /* Cor do LinkedIn no hover */
}

footer .github:hover img {
    background-color: #a719faa1; /* Cor do GitHub no hover */
}


@media (max-width: 768px) {
    .content, .about-me-section {
        flex-direction: column;
        align-items: center;
    }
    
    .Mainn, .image-container, .about-me-text, .profile-img {
        max-width: 100%;
    }
    
    .profile-img {
        width: 100%;
        height: auto;
    }
    
    .about-me-section {
        gap: 20px;
        padding: 30px 20px;
    }
    
    .t_title {
        font-size: 32px;
    }

    .t_subtitle {
        font-size: 16px;
    }

    .about-title {
        font-size: 28px;
    }

    .about-me-text p {
        font-size: 16px;
    }
}






























.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Exemplo: peso bold */
    font-style: normal;
}


@font-face {
    font-family: 'Adomania';
    src: url('Fonts/ADOMANIA.OTF') format('truetype'); /* Altere o caminho e o tipo conforme necessário */
}


